.main {
  margin-top: 3rem;
  h4 {
    text-align: left;
  }
}

.products {
  display: grid;
  // grid-template-columns: 20.5rem 20.5rem 20.5rem 20.5rem;
  grid-template-columns: repeat(auto-fill, minmax(16.5rem, 19rem));
  padding: 0rem 1rem;
  justify-content: center;
}

.search {
  max-width: 20rem;
  width: 100%;
}

.categories {
  display: flex;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
  button {
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  overflow-x: auto;
}

@media (max-width: 575.98px) {
}
