.feedback {
  margin-top: 3rem;
  h4 {
    text-align: left;
  }
  margin-bottom: 3rem;
}

.form {
  margin: 0 auto;
  max-width: 600px;
}

.checkbox {
  input {
    margin-right: 0.5rem;
  }
  margin-bottom: 1rem;
}

.input {
  margin-bottom: 1rem;
}
